In [25]:
import pandas as pd
import numpy as np

announce = pd.read_excel('(완)잡플레닛 채용 공고.xlsx')
announce

,index,회사명,채용공고명,마감일,직무,경력,고용형태,주요업무,자격요건
0,1,롯데리아,마케팅(빅데이터),2017. 04. 03,"데이터분석, 마케팅",신입,정규직,- 마케팅(빅데이터),"- 관련전공 : 통계, 수학, 전산 관련학"
1,2,하나투어,DA (Data Architector),2016. 03. 02,"IT/인터넷, 데이터분석",경력무관,계약직,"데이터 관리시스템 (모델링툴, 메타, DQM 관련) 구축 및 운영데이터(표준, 모델...",경력직
2,3,아워홈,데이터 분석 / 통계 분석,2019. 12. 03,경영지원,신입,정규직,- 데이터 분석,- 대상 : 4년제 학사 이상으로 2020년 2월 졸업예정자 및 기졸업자 - 학점 ...
3,4,호텔신라,Bigdata Engineer,2020. 07. 31,데이터분석,"신입, 경력무관",기타,"- Secudium IoT 구축 & 운영- 정형, 비정형 데이터에 대한 ETL 프로...",- 학력: 4년제 정규학사 졸업 이상 - 경력: 무관 - 근무지 : 판교 본사
4,5,호텔신라,Bigdata Engineer,2020. 04. 25,데이터분석,"신입, 3년 이상",정규직,- 채용분야 : Secudium IoT Bigdata Engineer- 데이터 수집...,- 근무지 : 본사(판교) - 채용유형 및 급여조건 : 면접 후 협의 - 학력 : ...
...,...,...,...,...,...,...,...,...,...
745,746,카카오게임즈,[서울] DataOps팀 팀장 채용,2021. 11. 30,"데이터분석, 시스템엔지니어",10년 이상,정규직,- DataOps팀 업무 총괄 및 조직관리- Data기반 AI Back-end 서비...,- 관련 업무 경력 10년 이상인 분(팀원 경력 포함) - 병역필 또는 면제로 해외...
746,747,한국세라믹기술원,[서울] 빅데이터 개발자 채용,2021. 11. 30,"데이터분석, 시스템엔지니어",5년 이상,정규직,"- 데이터 기반 서비스 API 개발/운영- python, java기반의 서비스 AP...",- 관련 경력 5년 이상인 분(대리~과장급) - 하나 이상의 언어로 능숙하게 프로그...
747,748,대한항공,[서울] 데이터 엔지니어 채용,2021. 11. 30,"데이터분석, 시스템엔지니어",3년 이상,정규직,- Bigdata pipeline(데이터 수집/처리/적재) 개발 및 운영- JAVA...,- 관련 업무 경력 3년 이상인 분(대리~과장급) - SQL 작성 및 이해 가능한 ...
748,749,롯데멤버스,[서울] 데이터 분석가 채용,2021. 11. 30,데이터분석,2년 이상,정규직,- 다양한 서비스 및 이슈에 대한 데이터 분석기반 인사이트 도출- 데이터 분석 결과...,- 관련 경력 2년 이상인 분(사원~과장급) - 데이터에 대한 기본적인 이해도가 있...
749,750,한국교통연구원,"[융합기술연구소] 데이터 처리/분석, 인공지능",2021. 02. 10,"데이터분석, 하드웨어엔지니어",경력무관,정규직,1. 빅데이터 및 클라우드 지원 체계 구축 기술- 엔지니어링 전주기 데이터 수집․활...,"- 박사 - 데이터사이언스, 인공지능/딥러닝/머신러닝 - 공학 기술 이해, 데이터 ..."

In [50]:
year_else = []
total_2021 = []
total_else = []
for i in range(len(announce)):
    if int(announce['마감일'][i][:4]) == 2021:
        total_2021.append(announce['주요업무'][i])
        total_2021.append(announce['자격요건'][i])
    else:
        year_else.append(int(announce['마감일'][i][:4]))
        total_else.append(announce['주요업무'][i])
        total_else.append(announce['자격요건'][i])

In [87]:
# 불용어 설정
stopword = ['lake','회원','원천','원천 데이터','이용자','동료','사용 사용','ad hoc','투스','투스 교육','','위한','업무','수행','수립','대한','제공','과제','위한 데이터','이슈','이용','다양','진행','필요','정의','행동','and','리포','의사','com','the','to','가능','정책','통한','도출','적용','머신','문제','결과','개인','주요','분야','제안','외부','파악','결정','마트','표준','방안','https','kakao','of','마이','사내','지원','관련','센터','통합','키움증권','end','담당','자료','오픈','통해','각종','구조','수요','키움증권 데이터','for','global','핵심','소스','모집','조직','구성','따른','on','test','현황','형태','방향','사항','추진','고려','관점','요건','작업','절차','상세','가이드','인식','바탕','타다','특성','내용','기타','in','요구','경력 careers','jobs','전투','center','as','개발자 모집','careers','careers jobs','내부','해외','이해','전체','영역','효과','기존','감사','역할','그룹','가치','지식','광고','따라','주기','과정','행태','쿠팡','쿠팡 고객','설정','최신','제출','위해','국내외','자사','서류','new','정기','제고','기준','open','재고','경력','입사','발생','기반 신규','소개','연계','지속','주제','레코','지역','본부','안전','연관','with','물리','네이버','근무','확산','목적','라이브','부문','will','that','help','center','번호','배달','소자','취약점', '대한','업무','사유','결격','결격 사유','가능','관련','분야','경우','필수','기반','제자','요건','환경','or','수행','근무','해당','관리','정보','기본','사유 남자','필요','작성','공통','직무','위한','위해','통한','통해','남성 경우','남자 경우','모집','제출','개월','사항','기준','이내','갖춘','게임','지원','도출','다양','이용','포함','해외여행 남자','내용','본인','with','성과','to','아래','환영','형태','테스트','고용','저자','of','in','과제','법령','자신','확신','제외','end','정상','최근','이상자','체계','품질','문서','설비','and','제조','방법','지원자','영역','사고','변화','의한','따라','당사','생명','지도','기타','기초','부서','가진','동등','도전','진행','공고','주요','대상','규정','자료','상품','구조','소스','사업','시장','조건','계열','정의','구성']

## 채용공고 textrank 키워드

In [52]:
from konlpy.tag import Mecab 
mecab = Mecab(dicpath='C:/mecab/mecab-ko-dic')

In [68]:
tag_classes = ['NNG', 'NNP','VA', 'VV+EC','VV+ETM', 'NP', 'NNBC', 'VA+EC','SL']

def mecab_tokenizer(text):   
    clean_word = []
    result = mecab.pos(text, join=True)
    for i in result:
        word = i.split('/')[0]
        tag = i.split('/')[1]
        if tag in tag_classes:
            if (word not in stopword) and len(word) > 1:
                clean_word.append(word)
    return clean_word

In [88]:
# 통합_2021
from textrank import KeywordSummarizer

summarizer = KeywordSummarizer(tokenize=mecab_tokenizer, min_count=2, min_cooccurrence=1)
textrank_2021 = summarizer.summarize(total_2021, topk=30)

In [89]:
# 통합_2021 제외
from textrank import KeywordSummarizer

summarizer = KeywordSummarizer(tokenize=mecab_tokenizer, min_count=2, min_cooccurrence=1)
textrank_else = summarizer.summarize(total_else, topk=30)

In [90]:
keyword = []
score = []

for k in textrank_2021:
    keyword.append(k[0])
    score.append(k[1])    
for k in textrank_else:
    keyword.append(k[0])
    score.append(k[1])
    
total_data = pd.DataFrame()
total_data['직무명'] = ['데이터 분석가' for _ in range(60)]
total_data['년도'] = ['2021' for _ in range(30)] + ['2021이전' for _ in range(30)]
total_data['키워드'] = pd.Series(keyword)
total_data['빈도'] = pd.Series(score)

In [92]:
total_data.to_excel('채용 키워드.xlsx')

In [86]:
total_data

        직무명      년도         키워드         빈도
0   데이터 분석가    2021         데이터  66.902410
1   데이터 분석가    2021          분석  55.483385
2   데이터 분석가    2021          개발  42.311736
3   데이터 분석가    2021          운영  21.799461
4   데이터 분석가    2021         서비스  20.987990
5   데이터 분석가    2021          경험  19.741974
6   데이터 분석가    2021        Data  19.054266
7   데이터 분석가    2021          구축  18.287197
8   데이터 분석가    2021          설계  17.398349
9   데이터 분석가    2021         시스템  14.798033
10  데이터 분석가    2021          기획  13.723031
11  데이터 분석가    2021          활용  13.010536
12  데이터 분석가    2021          기술  12.654886
13  데이터 분석가    2021          처리  10.291720
14  데이터 분석가    2021          AI   9.015787
15  데이터 분석가    2021          모델   8.174086
16  데이터 분석가    2021          고객   7.620814
17  데이터 분석가    2021          능력   7.327069
18  데이터 분석가    2021    business   7.155197
19  데이터 분석가    2021          플랫   7.044872
20  데이터 분석가    2021          사용   6.544732
21  데이터 분석가    2021        data   6.383025
22  데이터 분석가    2021          연구   6.127308
23  데이터 분석가    2021          개선   6.050522
24  데이터 분석가    2021          보유   5.972723
25  데이터 분석가    2021          통계   5.939122
26  데이터 분석가    2021        해외여행   5.701754
27  데이터 분석가    2021          역량   5.533677
28  데이터 분석가    2021          IT   5.432607
29  데이터 분석가    2021          학위   5.347767
30  데이터 분석가  2021이전         데이터  43.195928
31  데이터 분석가  2021이전          분석  37.178257
32  데이터 분석가  2021이전          개발  35.488059
33  데이터 분석가  2021이전          경험  27.376172
34  데이터 분석가  2021이전          운영  20.897385
35  데이터 분석가  2021이전         서비스  16.104776
36  데이터 분석가  2021이전          기술  16.081670
37  데이터 분석가  2021이전         시스템  11.667119
38  데이터 분석가  2021이전        Data  11.487178
39  데이터 분석가  2021이전          활용  11.458596
40  데이터 분석가  2021이전          기간  10.891781
41  데이터 분석가  2021이전          전공  10.213182
42  데이터 분석가  2021이전         기술력   9.280380
43  데이터 분석가  2021이전          설계   8.823984
44  데이터 분석가  2021이전        프로젝트   8.358250
45  데이터 분석가  2021이전          구축   8.318875
46  데이터 분석가  2021이전          사용   7.840324
47  데이터 분석가  2021이전          능력   7.484708
48  데이터 분석가  2021이전          통계   7.444093
49  데이터 분석가  2021이전          처리   7.258677
50  데이터 분석가  2021이전       프론트엔드   7.158382
51  데이터 분석가  2021이전          보유   6.962156
52  데이터 분석가  2021이전          기획   6.864113
53  데이터 분석가  2021이전         개발자   6.686168
54  데이터 분석가  2021이전         경험자   6.396095
55  데이터 분석가  2021이전          학력   6.320846
56  데이터 분석가  2021이전  Javascript   5.932874
57  데이터 분석가  2021이전          플랫   5.383101
58  데이터 분석가  2021이전          신입   5.338696
59  데이터 분석가  2021이전          무관   5.299911

## 각 연도분류에만 존재하는 키워드 추출

In [112]:
change_data = pd.DataFrame()

change_name = []
change_year = []
change_keyword = []
change_score = []

index = 0
for k in total_data['키워드'][:30]:
    if k not in total_data['키워드'][30:].tolist():
        change_name.append('데이터 분석가')
        change_year.append(2021)
        change_keyword.append(k)
        change_score.append(total_data['빈도'][index])
        index += 1
index = 30
for k in total_data['키워드'][30:]:
    if k not in total_data['키워드'][:30].tolist():
        change_name.append('데이터 분석가')
        change_year.append('2021이전')
        change_keyword.append(k)
        change_score.append(total_data['빈도'][index])
        index += 1

change_data['직무명'] = pd.Series(change_name)
change_data['년도'] = pd.Series(change_year)
change_data['키워드'] = pd.Series(change_keyword)
change_data['빈도'] = pd.Series(change_score)

change_data.to_excel('채용 키워드 변화.xlsx')
change_data

        직무명      년도         키워드         빈도
0   데이터 분석가    2021          AI  66.902410
1   데이터 분석가    2021          모델  55.483385
2   데이터 분석가    2021          고객  42.311736
3   데이터 분석가    2021    business  21.799461
4   데이터 분석가    2021        data  20.987990
5   데이터 분석가    2021          연구  19.741974
6   데이터 분석가    2021          개선  19.054266
7   데이터 분석가    2021        해외여행  18.287197
8   데이터 분석가    2021          역량  17.398349
9   데이터 분석가    2021          IT  14.798033
10  데이터 분석가    2021          학위  13.723031
11  데이터 분석가  2021이전          기간  43.195928
12  데이터 분석가  2021이전          전공  37.178257
13  데이터 분석가  2021이전         기술력  35.488059
14  데이터 분석가  2021이전        프로젝트  27.376172
15  데이터 분석가  2021이전       프론트엔드  20.897385
16  데이터 분석가  2021이전         개발자  16.104776
17  데이터 분석가  2021이전         경험자  16.081670
18  데이터 분석가  2021이전          학력  11.667119
19  데이터 분석가  2021이전  Javascript  11.487178
20  데이터 분석가  2021이전          신입  11.458596
21  데이터 분석가  2021이전          무관  10.891781

In [105]:
change_data = pd.DataFrame()

change_name = []
change_year = []
change_keyword = []
change_score = []

index = 0
for k in total_data['키워드'][30:]:
    if k not in total_data['키워드'][:30].tolist():
        change_name.append('데이터 분석가')
        change_year.append('2021이전')
        change_keyword.append(k)
        change_score.append(total_data['빈도'][index])
        index += 1
        
change_data['직무명'] = pd.Series(change_name)
change_data['년도'] = pd.Series(change_year)
change_data['키워드'] = pd.Series(change_keyword)
change_data['빈도'] = pd.Series(change_score)

change_data.to_excel('채용 키워드 변화.xlsx')